# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
tmp/

# Tauri build output
src-tauri/target/

# Environment
.env
.env.local

# Editor
.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
